body {
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.hovered {
  outline: 2px solid rgba(28, 150, 163, 1);
  position: relative;
  z-index: 99999;
  background: white;
  transition: all 300ms ease;
}

.card {
  height: 200px;
  width: 200px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: tomato;
  border-radius: 10px;
}

.selected {
  outline: 2px solid rgba(28, 150, 163, 1);
  box-shadow: inset 0px 0px 0 100vh rgba(0, 0, 0, 0.1);
}

.selectorOverlay {
  transition: all 300ms ease;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}
